* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    /* padding: 3em 1em 0; */
}

.navbar, .twit-sign {
    display: none;
}

header {
    display: flex;
    order: 1;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    /* position: sticky; */
    /* top: 0; */
    background-color: rgb(247, 243, 243);
    margin: 0;
}
.head-title {
    color: blue;
}
.hero {
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color:  rgb(247, 243, 243);
    margin-bottom: 4em;
}
.hero-image img {
    width: 100%;
    margin-bottom: 2em;
}
.text__main {
    margin-bottom: 4%;
}
.main-tittle h1 {
    font-size: 2.1rem;
    margin-bottom: 1.5%;
}
.main-tittle p {
    font-size: 1rem;
    line-height: 1.4;
    opacity: 0.5;
    margin-bottom: 4%;
}
.hero__button {
    /* border: 1px solid gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.btn {
    border: 1px solid rgb(12, 136, 252);
    align-items: center;
    justify-content: space-around;
    padding: 0.6em;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(12, 136, 252);
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}
.btn:hover {
    background-color: lightblue;
}
.hero__button a {
    color: blue;
    text-decoration: none;
    margin-top: 2%;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.hero__button a:hover {
    background-color: transparent;
}
.User__profiles {
    width: 100%;
    /* border: 2px /solid blueviolet; */
    margin-bottom: 4%;
}
.profile-image {
    display: flex;
    gap: -5;
    width: 80%;
    align-items: flex-start;
}
.profile-image img {
    width: 10%;
    margin-bottom: 5%;
}
.profile-p {
    font-size: 1rem;
    opacity: 0.5;
    /* margin-top: 10%; */
}
span {
    color: blue;
}

/* section styles start */

.user__features {
    padding: 1em;
    margin-bottom: 4em;
}
.title {
    font-size: 1.5rem;
    margin-bottom: 2em;
}
.feature__content {
    /* border: 1px solid gold; */
}
.analytic,
.schedule,
.Analyzer,
.screen__color {
    /* border: 1px solid black; */
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1.5em;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.analytic h2,
.schedule h2,
.Analyzer h2,
.screen__color h2 {
    font-size: 0.9rem;
    margin: 1em 0;
}
.analytic p,
.schedule p,
.Analyzer p,
.screen__color p {
    line-height: 1.5;
    opacity: 0.6;
}

/* customers__feed style start here */
.customers__feed {
    padding: 2em 1em;
    background-color: lightcyan;
}
.main__title {
    font-size: 1.3rem;
    margin-bottom: 5%;
}
.sara__feed,
.sc__feed,
.jesi__feed {
    /* border: 1px solid red; */
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 1em;
}
.s__profile,
.scott__feed,
.jesi_feed_contnet {
    display: flex;
    gap: 10px;
    margin-bottom: 0.5em;
}
.s__twit {
    /* border: 1px solid gold; */
    margin-left: 40%;
}
.sara__feed p,
.j__feed,
.may__feed {
    opacity: 0.6;
}
.sara__like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 0.5rem;
}
.liky {
    display: flex;
    gap: 5px;
}
.like p {
    line-height: 1.5;
    font-size: 1.1rem;
    opacity: 0.6;
    margin-bottom: 4%;
}
.jesi_feed_contnet h3,
.s__profile,
.scott__feed {
    font-size: 0.9rem;
}

/* price__pattern design */
.price__pattern {
    padding: 3em 1em;
}
.price__tittle {
    /* border: 1px solid blue; */
    padding: 1em;
    text-align: center;
    margin-bottom: 5%;
}
.price__tittle h1 {
    font-size: 2rem;
    margin-bottom: 2%;
}
.price__tittle p {
    line-height: 1.5;
    opacity: 0.6;
}
.price__shedule {
    border: 1px solid gold;
    padding: 1.5em;
    background-color: rgb(247, 243, 243);
    border-radius: 5px;
}
.p__time {
    margin-bottom: 5%;
}
.p__time p {
    opacity: 0.6;
    font-size: 0.4rem;
    line-height: 1.5;
}
.p__time h2 {
    opacity: 0.6;
    font-size: 1.1rem;
    font-weight: 300;
}
.p__time h1 {
    font-size: 2.2rem;
}
.dollar {
    font-size: 1rem;
    color: black;
    opacity: 0.6;
}
hr {
    opacity: 0.6;
    margin-top: 1em;
    margin-bottom: 1em;
}
.limited,
.weeks,
.track {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 5%;
}
.limited p,
.weeks p,
.track {
    font-size: 1.2rem;
    opacity: 0.6;
}
.limited img,
.weeks img,
.track img {
    width: 10%;
    margin-bottom: 8%;
}
.main-image {
    display: none;
} 
.price-btn {
    border: 1px solid rgb(12, 136, 252);
    align-items: center;
    justify-content: space-around;
    padding: 0.6em;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(12, 136, 252);
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}
.price-btn:hover {
background-color: lightblue;
}

/* footer style */
footer {
    background-color: lightcyan;
    padding: 1em;
}
footer h2 {
    color: rgb(26, 26, 253);
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 5%;
}
.policy {
    display: flex;
    gap: 20px;
}
ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
ul a {
    text-decoration: none;
    color: black;
}
ul a:hover {
    background-color: transparent;
    border-radius: 5px;
}

/* tablet design */
@media screen and (min-width: 768px) {
    header {
        padding: 2em;
    }
    .navbar {
        display: block;
        margin-left: 30%;
    }
    .twit-sign {
        display: block;
        border: 1px solid rgb(124, 124, 247);
        border-radius: 5px;
        width: 30%;
        padding: 0.8em;
        /* gap: 15px; */
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        background-color: rgb(128, 128, 255);
        color: white;
    }
    .harm {
        display: none;
    }
    .hero {
        padding: 2em;
    }
    .hero-image {
        display: none;
    }
    .main-image {
        width: 100%;
        margin-bottom: 10%;
        /* background-image: url('../Assets/Hero\ Image\ \(Tablet\ View\).png'); */
    }
    .main-image img {
        width: 100%;
    }
    .hero-image {
        display: none;
    }
    .main-tittle h1 {
        font-size: 4rem;
    }
    .main-tittle p {
        font-size: 1.25rem;
    }
    .hero__button {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        align-items: center;
    }
    .btn {
        font-size: 1rem;
        width: 30%;
        background-color: rgb(4, 162, 214);
    }
    .profile-image {
        /* position: relative; */
        width: 100%;
    }
    .profile-image img {
        width: 30px;
    }
    .profile-p {
        font-size: 1rem;
        width: 60%;
        line-height: 1.5;
    }
    .user__features {
        padding: 2em;
    }
    .user__features h2 {
        font-size: 1rem;
    }
    .user__features p {
        /* border: 1px solid red; */
        font-size: 1.28rem;
    }
    .customers__feed {
        /* border: 1px solid gold; */
        padding: 2em;
    }
    .main__title {
        font-size: 1.5rem;
        margin-top: 3%;
    }
    .users__feed {
        /* border: 1px solid red; */
        display: flex;
        gap: 20px;
        /* overflow-x: scroll; */
    }
    .sara__feed {
        align-self: flex-start;
        width: 70%;
        /* justify-content: flex-start; */
    }
    .sara__feed p {
        font-size: 1rem;
    }
    .jesi__feed {
        display: none;
    }
    .price__pattern {
        padding: 8em;
    }
    .price__tittle p {
        font-size: 1.2rem;
    }
    .price__shedule img {
        margin-top: 7%;
        width: 5%;
    }
    .p__time,
    .limited,
    .weeks {
        margin: 0;
    }
    footer {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    }
    .policy {
        width: 60%;
        justify-content: right;
    }

}

@media (min-width: 1280px) {
    header {
        padding: 2em 5em;
        margin-bottom: 0;
    }
    .twit-sign {
        width: 20%;
        cursor: pointer;
    }
    .twit-sign:hover {
        background-color: transparent;
        transform: translateY(-5px);
        border: 1px solid lightgray;
    } 
    .navbar {
        /* margin-right: 10%; */
        width: 50%;
        cursor: pointer;
        transition: all .55s ease;
        
        /* border: 1px solid gold; */
    }
    .navbar ul {
        margin-left: 58%;
        font-size: 1.3rem;
    }
    ul a:hover {
        transform: translateY(-5px);
    }
    .hero {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        padding: 5em;
    } 
    .hero-image {
        display: block;
    }
    .hero-text {
        margin-top: 10%;
        /* border: 1px solid red; */
    }
    .hero-text h1 {
        font-size: 3.5rem;
    }
    .hero-text p {
        font-size: 1.1rem;
    }
    .hero__button {
        align-items: center;
        /* border: 1px solid gold; */
    }
    .btn {
        width: 35%;
    }
    .profile-p {
        width: 68%;
    }
    .user__features {
        padding: 5em;
    }
    .title {
        width: 50%;
        font-size: 2rem
    }
    .feature__main__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        /* border: 1px solid greenyellow; */
    }
    .customers__feed {
        padding: 5em;
    }
    .jesi__feed {
        display: block;
        align-self: flex-start;
    }
    .sara__feed,
    .sc__feed,
    .jesi__feed {
        width: 40%;
    } 
    .jesi__feed,
    .sara__feed {
        height: 200px;
        width: 30%;
    }
    .price__pattern {
        padding: 23em;
    }
    .price__shedule {
        width: 85%;
        margin: auto;
    }
    .price-btn {
        /* width: 90%; */
        padding: 0;
        align-items: center;
        text-align: center;
        margin: 0;
        justify-content: center;
    }
    .price__btn {
        align-items: center;
        margin-bottom: 0;
    }
    footer {
        padding: 5em;
        margin-top: 0;
        /* height: 50px; */
    }
    footer h2 {
        font-size: 2rem;
    }
    .policy {
        font-size: 1.2rem;
    }
}